.menu {
  height: 100%;
  li {
    div {
      span,
      i {
        pointer-events: none;
      }
      // font-size: xx-large !important;
    }
    span {
      pointer-events: none;
      // font-size: xx-large !important;
    }
  }
}
